#container {
	width:800px;

}
#facebook-page {
	width:800px;
	margin:0,auto;
	height:200px;
}
#img {
	margin-right:25px;
	float:left;

}
#more-info {
	font-color:blue;
}
.more {
	display:none;
}
